<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
<div style="
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: relative;
    border: 1px solid #eee;
    justify-content: center; ">
  <div style="
    position: relative;
    width: 100%;">
    <img src="cid:banner" alt="banner-urf" style="
    object-fit: cover;
    width: 100%;"/>
  </div>
  <div style="
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 28px;
    position: relative;
    ">
    <div style="
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 12px;
    position: relative;">
      <p style="
      font-family: 'Pretendard-Bold';
      font-size: 20px;
      letter-spacing: 0px;
      font-weight: 700;
      font-style: normal;">비밀번호를 잊으셨나요?<br/>아래의 인증번호를 입력해 주세요.</p>
      <p style="
      font-family: 'Pretendard-Regular';
      font-size: 14px;
      letter-spacing: 0px;
      font-weight: 400;
      font-style: normal;">그님티 비밀번호를 새롭게 설정하기 위한 인증번호 입니다.<br/>이전 화면으로 돌아가 인증번호를 입력해 주세요.</p>
    </div>
    <div style="
    align-items: center;
    background-color: rgba(253, 244, 245, 1);
    border-radius: 999px;
    display: flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    padding: 10px;
    position: relative;
    width: 294px;">
      <!--      th:text="${code}"-->
      <div th:text="${code}" style="
      color: rgba(222, 46, 56, 1);
      font-weight: 700;
      line-height: 28px;
      margin-top: -1px;
      position: relative;
      text-align: center;
      white-space: nowrap;
      width: fit-content;"></div>
    </div>
    <div style="
    color: rgba(78, 78, 78, 1);
    line-height: 16px;
    position: relative;
    text-decoration: underline;
    white-space: nowrap;
    width: fit-content;
    font-family: 'Pretendard-Regular';
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: 400;
    font-style: normal;"
    >인증번호에 문제가 있으신가요?
    </div>
  </div>
  <div style="
    align-items: center;
    border-color: rgba(242, 242, 242, 1);
    border-top-style: solid;
    border-top-width: 1px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    margin-bottom: -1px;
    padding: 25px 0px;
    position: relative;
    width: 570px;">
    <a href="https://gnimty.kro.kr" target="_blank">
      <div style="
      color: rgba(162, 162, 162, 1);
    cursor: pointer;
    font-weight: 400;
    line-height: 20px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
    font-family: 'Pretendard-Regular';
    font-size: 14px;
    letter-spacing: 0px;
    font-style: normal;">www.gnimty.kro.kr
      </div>
    </a>
  </div>
</div>

<style>
  @font-face {
    font-family: "Pretendard-Bold";
    font-style: normal;
    font-weight: 700;
    src: url("https://fonts.animaapp.com/Pretendard-Bold") format("opentype");
  }

  @font-face {
    font-family: "Pretendard-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.animaapp.com/Pretendard-Regular") format("opentype");
  }

  .hidden,
  .hidden * {
    pointer-events: none;
    visibility: hidden;
  }
</style>